<mat-card class="c6 b3">
  <mat-card-title>{{title}}</mat-card-title>
  <div *ngIf="errorMessage" class="alert is-critical">
    <p>{{errorMessage}}</p>
    <button class="close-button" mat-button (click)="errorMessage = null">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form #userform="ngForm" (ngSubmit)="onSave()">
    <div class="form-group">
      <mat-form-field>
        <input matInput [(ngModel)]="model.firstName" type="text" name="firstName" placeholder="First Name"/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput [(ngModel)]="model.lastName" type="text"  name="lastName" placeholder="Last Name"/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput [(ngModel)]="model.email" type="email" name="email" placeholder="Email" [required]="true"/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput [(ngModel)]="model.username" name="username" placeholder="Username" [required]="true"/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput [(ngModel)]="model.password" type="password" name="password" placeholder="Password" [required]="passwordRequired"/>
      </mat-form-field>
    </div>
    <div *ngIf="hasRoles()" adminElement class="form-group">
      <label class="form-label">Roles</label>
        <div *ngFor="let role of model.roles">
          <mat-checkbox class="user-role-checkbox" aria-label="user-role" name="user-role" value="role" (change)="updateRoles(role, $event)"[checked]="isExistById(model.roles,role)">
            {{role.name}}
          </mat-checkbox>
        </div>
    </div>

    <div class="form-group">
      <button type="submit" mat-raised-button>{{action}}</button>
      <button type="button" mat-button (click)="dialog.close()">Cancel</button>
    </div>

  </form>
</mat-card>