mat-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.selection-header {
  padding: 0 0 10px;
}

.clear-filter {
  position: absolute;
  right: -10px;
  top: -5px;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.mat-footer-row {
  background: white;
  min-height: 0;

  span.ng-star-inserted {
    color: black;
    padding: 10px 0;
  }
}